Берем датасет из урока 14

для столбцов Age и Balance определите:

1.размах вариации

2.среднее по выборке

3.медиану

4.стандартное отклонение

Отфильтруйте данные - выберите для анализа записи о клиентах из Германии и расчитайте те же показатели.

Сделайте выводы/предположения о содержимом датасета на основе полученных характеристик.

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np

In [2]:
df = pd.read_csv('Churn_Modelling1.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
#размах вариации

In [9]:
df['Age'].max()-df['Age'].min()

74

In [10]:
df['Balance'].max()-df['Balance'].min()

250898.09

In [ ]:
#среднее по выборке

In [11]:
df['Age'].mean()

38.9218

In [12]:
df['Balance'].mean()

76485.88928799961

In [13]:
#медиану

In [14]:
df['Age'].median()

37.0

In [15]:
df['Balance'].median()

97198.54000000001

In [16]:
#стандартное отклонение

In [17]:
df['Age'].std()

10.487806451704591

In [18]:
df['Balance'].std()

62397.40520238623

In [ ]:
Отфильтруйте данные - выберите для анализа записи о клиентах 
из Германии и расчитайте те же показатели.
Age:

In [19]:
df[df['Geography'] == 'Germany']['Age'].max()-df[df['Geography'] == 'Germany']['Age'].min()

66

In [21]:
df[df['Geography'] == 'Germany']['Age'].mean()

39.771622160223195

In [24]:
df[df['Geography'] == 'Germany']['Age'].median()

38.0

In [25]:
df[df['Geography'] == 'Germany']['Age'].std()

10.51914294136249

In [ ]:
Отфильтруйте данные - выберите для анализа записи о клиентах 
из Германии и расчитайте те же показатели.
Balance:

In [26]:
df[df['Geography'] == 'Germany']['Balance'].max()-df[df['Geography'] == 'Germany']['Balance'].min()

187058.53

In [27]:
df[df['Geography'] == 'Germany']['Balance'].mean()

119730.11613391782

In [28]:
df[df['Geography'] == 'Germany']['Balance'].median()

119703.1

In [29]:
df[df['Geography'] == 'Germany']['Balance'].std()

27022.0061566565