Берем датасет из урока 14

для столбцов Age и Balance определите:

1.размах вариации

2.среднее по выборке

3.медиану

4.стандартное отклонение

Отфильтруйте данные - выберите для анализа записи о клиентах из Германии и расчитайте те же показатели.

Сделайте выводы/предположения о содержимом датасета на основе полученных характеристик.

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns # биб-ка seaborn основана на matplotlib, для визуализации данных
import numpy as np

In [23]:
df = pd.read_csv('Churn_Modelling1.csv', index_col = "RowNumber") # в методе чтения поле RowNumber делаем полем-индексом

In [24]:
df

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [32]:
range_1 = df['Age'].max() - df['Age'].min()
range_1

74

In [6]:
df['Age'].mean()

38.9218

In [7]:
df['Age'].median()

37.0

In [8]:
df['Age'].std()

10.487806451704609

In [33]:
range_2 = df['Balance'].max() - df['Balance'].min()
range_2

250898.09

In [20]:
df['Balance'].mean()

76485.889288

In [21]:
df['Balance'].median()

97198.54000000001

In [22]:
df['Balance'].std()

62397.405202385955

In [28]:
df_Germ = df[df['Geography'] == 'Germany']

In [29]:
df_Germ

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1

In [39]:
range_1 = df_Germ['Age'].max() - df_Germ['Age'].min()
range_1

66

In [35]:
df_Germ['Age'].mean()

39.771622160223195

In [36]:
df_Germ['Age'].median()

38.0

In [41]:
df_Germ['Age'].std()

10.519142941362501

In [42]:
range_2 = df_Germ['Balance'].max() - df_Germ['Balance'].min()
range_2

187058.53

In [43]:
df_Germ['Balance'].mean()

119730.1161339179

In [44]:
df_Germ['Balance'].median()

119703.1

In [45]:
df_Germ['Balance'].std()

27022.006156656502