In [85]:
import pandas as pd
import numpy as np
df = pd.read_csv('dataset.csv',sep = ',', header=None)

In [86]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,pork,sandwich bags,lunch meat,all- purpose,flour,soda,butter,vegetables,beef,aluminum foil,all- purpose,dinner rolls,shampoo,all- purpose
1,shampoo,hand soap,waffles,vegetables,cheeses,mixes,milk,sandwich bags,laundry detergent,dishwashing liquid/detergent,waffles,individual meals,hand soap,vegetables
2,pork,soap,ice cream,toilet paper,dinner rolls,hand soap,spaghetti sauce,milk,ketchup,sandwich loaves,poultry,toilet paper,ice cream,ketchup
3,juice,lunch meat,soda,toilet paper,all- purpose,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pasta,tortillas,mixes,hand soap,toilet paper,vegetables,vegetables,paper towels,vegetables,flour,vegetables,pork,poultry,eggs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,beef,sandwich bags,hand soap,paper towels,paper towels,all- purpose,beef,fruits,coffee/tea,beef,shampoo,mixes,cheeses,juice
1495,dinner rolls,lunch meat,spaghetti sauce,pasta,vegetables,cereals,dinner rolls,soap,milk,eggs,poultry,cheeses,cereals,mixes
1496,lunch meat,eggs,poultry,vegetables,tortillas,beef,beef,individual meals,dishwashing liquid/detergent,shampoo,dishwashing liquid/detergent,dishwashing liquid/detergent,hand soap,sugar
1497,ketchup,milk,poultry,cheeses,soap,toilet paper,yogurt,beef,waffles,sugar,spaghetti sauce,all- purpose,sandwich bags,toilet paper
1498,laundry detergent,vegetables,shampoo,vegetables,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.shape

(1499, 14)

In [88]:
df.loc[3]

0             juice
1        lunch meat
2              soda
3      toilet paper
4      all- purpose
5
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
Name: 3, dtype: object

In [89]:
df.isnull().sum()

0       0
1       0
2       0
3       0
4       0
5      51
6      88
7     143
8     199
9     258
10    296
11    343
12    396
13    455
dtype: int64

In [90]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1499 non-null   object
 1   1       1499 non-null   object
 2   2       1499 non-null   object
 3   3       1499 non-null   object
 4   4       1499 non-null   object
 5   5       1448 non-null   object
 6   6       1411 non-null   object
 7   7       1356 non-null   object
 8   8       1300 non-null   object
 9   9       1241 non-null   object
 10  10      1203 non-null   object
 11  11      1156 non-null   object
 12  12      1103 non-null   object
 13  13      1044 non-null   object
dtypes: object(14)
memory usage: 164.1+ KB
None

По логике в этот датасет входили транзакции с минимум 5 продуктами, также есть пустые (не nan значения)-стоят пробелы

In [91]:
df = df.replace(' ', pd.np.nan)

C:\Users\USER\AppData\Local\Temp\ipykernel_12764\946282236.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df = df.replace(' ', pd.np.nan)

In [92]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [93]:
df = df.stack().groupby(level=0).apply(list).apply(lambda x: [i for i in x if str(i) != 'nan'])

In [94]:
df

0       [ pork,  sandwich bags,  lunch meat,  all- pur...
1       [ shampoo,  hand soap,  waffles,  vegetables, ...
2       [ pork,  soap,  ice cream,  toilet paper,  din...
3       [ juice,  lunch meat,  soda,  toilet paper,  a...
4       [ pasta,  tortillas,  mixes,  hand soap,  toil...
                              ...
1494    [ beef,  sandwich bags,  hand soap,  paper tow...
1495    [ dinner rolls,  lunch meat,  spaghetti sauce,...
1496    [ lunch meat,  eggs,  poultry,  vegetables,  t...
1497    [ ketchup,  milk,  poultry,  cheeses,  soap,  ...
1498    [ laundry detergent,  vegetables,  shampoo,  v...
Length: 1499, dtype: object

In [96]:
encoder = TransactionEncoder()
transactions = pd.DataFrame(encoder.fit(df).transform(df), columns=encoder.columns_)
display(transactions.head())

,all- purpose,aluminum foil,bagels,beef,butter,cereals,cheeses,coffee/tea,dinner rolls,dishwashing liquid/detergent,...,shampoo,soap,soda,spaghetti sauce,sugar,toilet paper,tortillas,vegetables,waffles,yogurt
0,True,True,False,True,True,False,False,False,True,False,...,True,False,True,False,False,False,False,True,False,False
1,False,False,False,False,False,False,True,False,False,True,...,True,False,False,False,False,False,False,True,True,False
2,False,False,False,False,False,False,False,False,True,False,...,False,True,False,True,False,True,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,False,False

In [110]:
frequent_itemsets = apriori(transactions, min_support= 6/len(df), use_colnames=True, max_len = 3)
rules = association_rules(frequent_itemsets, metric="lift",  min_threshold = 1.4)
display(rules.head(10))
print("Rules identified: ", len(rules))

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"( all- purpose, bagels)",( eggs),0.075384,0.268846,0.029353,0.389381,1.448341,0.009086,1.197397,0.334793
1,"( all- purpose, eggs)",( bagels),0.071381,0.278185,0.029353,0.411215,1.478204,0.009496,1.225939,0.348371
2,( bagels),"( all- purpose, eggs)",0.278185,0.071381,0.029353,0.105516,1.478204,0.009496,1.038161,0.448181
3,( eggs),"( all- purpose, bagels)",0.268846,0.075384,0.029353,0.109181,1.448341,0.009086,1.037940,0.423378
4,"( all- purpose, beef)",( fruits),0.068045,0.263509,0.026017,0.382353,1.451005,0.008087,1.192414,0.333517
5,( fruits),"( all- purpose, beef)",0.263509,0.068045,0.026017,0.098734,1.451005,0.008087,1.034051,0.422032
6,"( all- purpose, mixes)",( hand soap),0.070047,0.237492,0.024016,0.342857,1.443660,0.007381,1.160339,0.330464
7,( hand soap),"( all- purpose, mixes)",0.237492,0.070047,0.024016,0.101124,1.443660,0.007381,1.034573,0.403033
8,"( hand soap, soap)",( all- purpose),0.056037,0.263509,0.020680,0.369048,1.400512,0.005914,1.167269,0.302952
9,( all- purpose),"( hand soap, soap)",0.263509,0.056037,0.020680,0.078481,1.400512,0.005914,1.024355,0.388295

Rules identified:  180

In [113]:
shampoo_rules = rules[rules['consequents'].astype(str).str.contains('cheeses')]
shampoo_rules = shampoo_rules.sort_values(by=['lift'],ascending = [False]).reset_index(drop = True)
display(shampoo_rules.head(20))

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,( sandwich bags),"( cheeses, beef)",0.250167,0.066711,0.025350,0.101333,1.518987,0.008661,1.038526,0.455656
1,( soap),"( sandwich loaves, cheeses)",0.265510,0.064710,0.026017,0.097990,1.514298,0.008836,1.036896,0.462400
2,( sandwich bags),"( shampoo, cheeses)",0.250167,0.056704,0.020680,0.082667,1.457851,0.006495,1.028302,0.418838
3,( sandwich loaves),"( ketchup, cheeses)",0.248833,0.057372,0.020680,0.083110,1.448625,0.006405,1.028071,0.412279
4,"( sandwich bags, flour)",( cheeses),0.067378,0.260173,0.025350,0.376238,1.446103,0.007820,1.186071,0.330773
5,( hand soap),"( sandwich loaves, cheeses)",0.237492,0.064710,0.022015,0.092697,1.432497,0.006647,1.030846,0.395954
6,( lunch meat),"( juice, cheeses)",0.276184,0.056037,0.022015,0.079710,1.422447,0.006538,1.025723,0.410306
7,"( sandwich loaves, hand soap)",( cheeses),0.060040,0.260173,0.022015,0.366667,1.409316,0.006394,1.168147,0.308988
8,( sandwich bags),"( fruits, cheeses)",0.250167,0.070047,0.024683,0.098667,1.408584,0.007160,1.031753,0.386842

### Допустим нам надо распродать сыр. Мы можем установить скидку на sandwich bags, sandwich loaves, и тогда есть вероятность, что мы можем распродать сыры гораздо быстрее.