1. В студенческой группе 23 человека. Сколькими способами можно выбрать
старосту и его заместителя?

In [1]:
import math
n = 23
k = 2
math.factorial(n) / math.factorial(n-k)

506.0

2. Студенческая группа состоит из 23 человек, среди которых 10 юношей и 13
девушек. Сколькими способами можно выбрать двух человек одного пола?

In [7]:
# выбор 2 юношей
n = 10
k = 2
men = math.factorial(n)/(math.factorial(n-k) * math.factorial(k))
# выбор 2 девушек
n = 13
k = 2
women = math.factorial(n)/(math.factorial(n-k) * math.factorial(k))
men + women

123.0

3. Сколькими способами можно выбрать двух юношей и двух девушек для участия
в сценке КВН?

In [8]:
n = 10 
k = 2
c = math.factorial(n)/(math.factorial(n-k)*math.factorial(k))
n1 = 13
k1 = 2
c1 = math.factorial(n1)/(math.factorial(n1-k1)*math.factorial(k1))
c = c * c1
c

3510.0