Fn = Fn-1 + Fn-2

In [1]:
def fabinachi(num):
  if num<= 1:
    return 1
  return fabinachi(num -1) + fabinachi(num-2)

In [2]:
fabinachi(6)

13

Задание: Банковский вклад. Пользователь делает вклад в размере a рублей сроком на years лет под 10% годовых (каждый год размер его вклада увеличивается на 10%. Эти деньги прибавляются к сумме вклада, и на них в следующем году тоже будут проценты).

Написать программу bank, принимающая аргументы a и years, и возвращающую сумму, которая будет на счету пользователя.

In [ ]:
def bank(a: float, years: int):
  for i in range(1, years+1):
    a = a +0.1*a
    print(a)
  return round(a, 2)

In [ ]:
bank(10, 5)

11.0
12.1
13.309999999999999
14.640999999999998
16.105099999999997

16.11

Наибольший простой фактор

Простые множители 13195: 5, 7, 13 и 29.

Какой самый большой простой делитель числа 600851475143?

In [ ]:

def prostoe_num(num):
  result = True  
  num_chek = int(round(num, 0))
  for i in range(2, num_chek) :
    if num%i == 0 :
      result = False
      break
  return result 

def chek_num(num):
 # num_chek = int(round((num/2), 0))+1   
  for i in range(2, num):
    if num%i == 0:
      if prostoe_num(num/i):
        result = int(num/i)
        break
  return result

In [ ]:
chek_num(600851475143)

6857

Наименьшее кратное

2520 - это наименьшее число, которое можно разделить на каждое из чисел от 1 до 10 без остатка.

Какое наименьшее положительное число делится без остатка на все числа от 1 до 20?

In [ ]:
def chek_division(num_1, num_2, chek_num):
  result = True
  for i in range(num_1, num_2+1):
    if not chek_num%i==0:
      result = False
  return result


def min_mult(num_1, num_2):
  flag = True
  result = num_2*(num_2+1)
  while flag:
    if chek_division(num_1, num_2, result):
      flag = False
    else:
      result+=1
  return result

In [ ]:
min_mult(1, 20)

232792560

Сумма квадратов разницы

Сумма квадратов первых десяти натуральных чисел равна,

1**2 + 2**2 + ... + 10**2 = 385

Квадрат суммы первых десяти натуральных чисел равен,

(1 + 2 + ... + 10)**2 = 55**2 = 3025

Следовательно, разница между суммой квадратов первых десяти натуральных чисел и квадратом суммы равна .

Найдите разницу между суммой квадратов первых ста натуральных чисел и квадратом суммы.

In [ ]:
def sum_squared(num_1, num_2):
  return (sum(range(num_1, num_2+1)))**2


def sum_of_squares(num_1, num_2):
  return sum([i**2 for i in range(num_1, num_2+1)])


def difference(num_1, num_2):
  return sum_squared(num_1, num_2)-sum_of_squares(num_1, num_2)

In [ ]:
difference(1, 20)

41230

Перечислив первые шесть простых чисел: 2, 3, 5, 7, 11 и 13, мы видим, что 6-е простое число равно 13.

Какое 10 001-е простое число?

In [ ]:
def prime_number(num):
  result = True  
  for i in range(2, num) :
    if num%i == 0 :
      result = False
      break
  return result 

def counting_prime_numbers(amount_of_numbers):
  counter_num = amount_of_numbers
  chek_number = 1
  while counter_num:
    chek_number +=1
    if prime_number(chek_number): 
     counter_num -=1
  return chek_number

In [ ]:
counting_prime_numbers(10001)

104743

Task_30 **
Самая длинная последовательность Коллатца

Следующая итерационная последовательность определена для набора натуральных чисел:

Если n чётное n = n/2 Если n нечётное n = n*3 + 1

Используя приведенное выше правило и начиная с 13, мы генерируем следующую последовательность:

13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1

Видно, что эта последовательность (начиная с 13 и заканчивая 1) содержит 10 терминов. Хотя это еще не доказано (задача Коллатца), считается, что все стартовые номера заканчиваются на 1.

Какое начальное число, меньшее миллиона, дает самую длинную цепочку?

ПРИМЕЧАНИЕ: Как только цепочка начинается, термины могут превышать один миллион.

Дополнительное условие:
Максимальная скорсть работы программы среди всех слушателей.

In [ ]:

def iteration_count(chek_num, dict_iter):
  flag = True
  iter = 1
  num = chek_num
  while chek_num != 1 and flag:
    
    if chek_num in dict_iter.keys():
      iter = iter + dict_iter.get(chek_num) - 1    
      flag = False
      
    else:
      if chek_num%2 == 0:
        chek_num = chek_num/2
        iter+=1
      else:
        chek_num = chek_num*3+1
        iter+=1
    
  return dict_iter.update({num:iter})


def maximum_number_of_iterations(num): 
  dict_iter = {}
  for i in range(1,num):
     iteration_count(i, dict_iter)
    
  result = list(sorted(dict_iter.items(), key=lambda item: item[1]))
  return print(result[-1])

In [ ]:
maximum_number_of_iterations(1000000)

(837799, 525)